<div class = "confirmationbox">
<h1>Booking confirmation</h1>

<p> Congratulations you booked <%= @booking.killer.first_name%> for an evil service ....
<%= @booking.killer.first_name %> will be at your service from <%= @booking.start_time%> till <%= @booking.end_time%>
</p>

<h3> Have fun with your human eraser plan .... Mouhahaha </h3>

<div><%=link_to "back", killers_path, class: "btn btn-danger text-black p-2 m-3"%></div>
</div>
