<div class = "confirmationbox">
<h1 class = "bookingtitle">Booking confirmation</h1>

<p class = "bookingconfirmationmessage"> Congratulations you booked <strong> <%= @booking.killer.first_name%> </strong> for an evil service ....
<strong><%= @booking.killer.first_name %> </strong>will be at your service from <%= @booking.start_time.to_time.strftime('%B %e at %l:%M %p')%> till <%= @booking.end_time.to_time.strftime('%B %e at %l:%M %p')%>
</p>

<h4 class = "byetitle"> Have fun with your eraser plan .... <strong>Mouhahaha </strong> </h4>

<iframe src="https://giphy.com/embed/I9An1NhP6OQFi" width="480" height="360" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fly-thinking-insect-I9An1NhP6OQFi"></a></p>

<div><%=link_to "back", killers_path, class: "btn btn-danger text-black p-2 m-3"%></div>
</div>
